.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-balance infinite 3s linear;*/
  height: 40px;
  display: inline-block;
  margin-bottom: -10px;
  transform-origin: 0 30px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-header h2 {
  margin: 0;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-balance {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-15deg); }
  75% { transform: rotate(15deg); }
  100% { transform: rotate(0deg); }
}
